@import url("style.css");
@import url("bootstrap/css/bootstrap.min.css");
@import url("bootstrap/css/bootstrap-responsive.min.css");
#hiderow,
.delete {
  display: none;
}
.delete { display: block; color: #000; text-decoration: none; position: absolute; background: #EEEEEE; font-weight: bold; padding: 0px 3px; border: 1px solid; top: -6px; left: -22px; font-family: Verdana; font-size: 12px; }
